.modal-div {
    width: 100vw;
    height: 100vh;
    place-items: center;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.45);
    color: #ffffff;
    padding: 2rem 1.2rem;

    &:focus {
        outline: none;
    }
}
